<ion-header mode="ios">
    <ion-toolbar mode="ios">
        <i class="fa fa-angle-left fa-fw fa-2x" aria-hidden="true" (click)="gotoFindJobs()"></i>
        <!--<ion-buttons>
            <ion-back-button>
            </ion-back-button>
        </ion-buttons>-->
        <ion-title mode="ios">详情</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [color]="'light'">

    <div style="background-color: white;display: flex;flex-direction: column;justify-content: center;align-items: start"
         padding>
        <ion-text margin-bottom [color]="'dark'" style="font-size: 1.2rem">
            传单派发
        </ion-text>
        <ion-text margin-bottom [color]="'danger'" style="font-size: 1rem">
            <span>60</span>元/天 &nbsp; <span style="color: #989aa2">|</span> &nbsp; <span>周结</span>
        </ion-text>
        <div style="width:100%;display:flex;flex-direction: row;justify-content: space-between">
            <ion-text [color]="'medium'" style="font-size: 0.5rem">
                <span>更新：</span><span>1天前</span>
            </ion-text>
            <ion-text [color]="'medium'" style="font-size: 0.5rem">
                <span>浏览：</span> <span>99</span> <span>人</span>
            </ion-text>
            <ion-text [color]="'medium'" style="font-size: 0.5rem">
                <span>申请：</span>9<span>人</span>
            </ion-text>
        </div>
    </div>

    <hr style="margin: 0">

    <div padding-top padding-bottom style="background-color: white;">
        <ion-row>
            <ion-col [size]="3" text-center>
                <ion-text [color]="'medium'" style="font-size: 0.5rem">
                    <span>工作时间</span>
                </ion-text>
            </ion-col>
            <ion-col [size]="9">
                <ion-text [color]="'dark'" style="font-size: 0.8rem">
                    <span>星期一、星期二、星期三、星期四、星期五、星期六、星期日</span>
                </ion-text>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col [size]="3" text-center>
                <ion-text [color]="'medium'" style="font-size: 0.5rem">
                    <span>有效期限</span>
                </ion-text>
            </ion-col>
            <ion-col [size]="9">
                <ion-text [color]="'dark'" style="font-size: 0.8rem">
                    <span>长期招聘</span>
                </ion-text>
            </ion-col>
        </ion-row>
    </div>

    <hr style="margin: 0">

    <div padding-top padding-bottom style="background-color: white;">
        <ion-row>
            <ion-col [size]="3" text-center>
                <ion-text [color]="'medium'" style="font-size: 0.5rem">
                    <span>工作地点</span>
                </ion-text>
            </ion-col>
            <ion-col [size]="9">
                <ion-text [color]="'dark'" style="font-size: 0.8rem">
                    <span>芜湖市镜湖区XXXXXXXX</span>
                </ion-text>
            </ion-col>
        </ion-row>
    </div>

    <div margin-top padding style="background-color: white">

        <ion-text [color]="'dark'" style="font-size: 1rem">
            <span>职务描述</span>
        </ion-text>
    </div>
    <hr style="margin: 0">

    <div padding style="background-color: white">
        <ion-text [color]="'medium'" style="font-size: 0.5rem">
            <span>需要外出跑，在小区，商城周围发传单，可以骑车，一天工作8小时，水自行解决</span>
        </ion-text>
    </div>


    <div margin-top padding style="background-color: white">

        <ion-text [color]="'dark'" style="font-size: 1rem">
            <span>公司信息</span>
        </ion-text>
    </div>
    <hr style="margin: 0">

    <div padding style="background-color: white">
        <ion-text [color]="'dark'" style="font-size: 0.5rem">
            <span>我爱记歌词KTV（中山路步行街）</span>
        </ion-text>
    </div>

</ion-content>

<ion-footer>
    <ion-button expand="full" [color]="'danger'" (click)="applyJob(1,$event)">我要报名</ion-button>
</ion-footer>
