<ion-content>
    <ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <div class="tabs">

            <div class="tab" routerLink="/student-center" routerLinkActive="selectTab">
                <svg class="icon" aria-hidden="true" style="width: 1.3rem;height: 1.3rem">
                    <use xlink:href="#icon-xuesheng"></use>
                </svg>
                <ion-text class="tab-text">
                    学生中心
                </ion-text>
            </div>

            <div class="tab" routerLink="/job-list" routerLinkActive="selectTab">
                <svg class="icon" aria-hidden="true" style="width: 1.3rem;height: 1.3rem">
                    <use xlink:href="#icon-jianli"></use>
                </svg>
                <ion-text class="tab-text">
                    求职
                </ion-text>
            </div>

<!--            <div class="tab" routerLink="/home" routerLinkActive="selectTab">
                <svg class="icon" aria-hidden="true" style="width: 1.3rem;height: 1.3rem">
                    <use xlink:href="#icon-shouye"></use>
                </svg>
                <ion-text class="tab-text">
                    首页
                </ion-text>
            </div>-->

            <div class="tab" routerLink="/recruit-create" routerLinkActive="selectTab">
                <svg class="icon" aria-hidden="true" style="width: 1.3rem;height: 1.3rem">
                    <use xlink:href="#icon-pin"></use>
                </svg>
                <ion-text class="tab-text">
                    招聘
                </ion-text>
            </div>
            <div class="tab" routerLink="/enterprise-center" routerLinkActive="selectTab">
                <svg class="icon" aria-hidden="true" style="width: 1.3rem;height: 1.3rem">
                    <use xlink:href="#icon-qiye"></use>
                </svg>
                <ion-text class="tab-text">
                    企业中心
                </ion-text>
            </div>

        </div>

    </ion-toolbar>
</ion-footer>
