<ion-header mode="ios">
    <ion-toolbar mode="ios">
        <i class="fa fa-angle-left fa-fw fa-2x" aria-hidden="true" (click)="gotoEnterprise()"></i>
        <ion-title mode="ios">发布招聘</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-row align-items-baseline style="width: 100%">
                <ion-col [size]="3">
                    <ion-label>兼职名称</ion-label>
                </ion-col>

                <ion-col [size]="9">
                    <ion-input [placeholder]="'如派发传单2-12个字'" [(ngModel)]="recruit.title" [max]="12"></ion-input>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item>
            <ion-row align-items-baseline style="width: 100%">
                <ion-col [size]="3">
                    <ion-label>兼职类别</ion-label>
                </ion-col>

                <ion-col [size]="9">
                    <ion-input [placeholder]="'请填写兼职类别，如服务员'"></ion-input>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item>
            <ion-row align-items-baseline style="width: 100%">
                <ion-col [size]="3">
                    <ion-label>招聘人数</ion-label>
                </ion-col>

                <ion-col [size]="9" style="display: flex;flex-direction: row;align-items: baseline">
                    <ion-input [(ngModel)]="recruit.peopleSum" required [placeholder]="'请填写1-999之间的数字'"
                               [type]="'number'"></ion-input>
                    <span>人</span>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item>
            <ion-row align-items-baseline style="width: 100%">
                <ion-col [size]="3">
                    <ion-label>兼职时效</ion-label>
                </ion-col>

                <ion-col [size]="9">
                    <nz-radio-group [(ngModel)]="recruit.timeliness">
                        <label nz-radio nzValue="1">短期</label>
                        <label nz-radio nzValue="2">长期</label>
                    </nz-radio-group>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item>
            <ion-row align-items-baseline style="width: 100%">
                <ion-col [size]="3">
                    <ion-label>开始日期</ion-label>
                </ion-col>

                <ion-col [size]="9">
                    <nz-date-picker
                            [nzDisabledDate]="disabledStartDate"
                            nzFormat="yyyy-MM-dd"
                            [(ngModel)]="startValue"
                            nzPlaceHolder="开始时间"
                            (ngModelChange)="onStartChange($event)">
                    </nz-date-picker>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item>
            <ion-row align-items-baseline style="width: 100%">
                <ion-col [size]="3">
                    <ion-label>结束日期</ion-label>
                </ion-col>

                <ion-col [size]="9">
                    <nz-date-picker
                            [nzDisabledDate]="disabledEndDate"
                            nzFormat="yyyy-MM-dd"
                            [(ngModel)]="endValue"
                            nzPlaceHolder="结束时间"
                            [disabled]="endDateDisable"
                            (ngModelChange)="onEndChange($event)"
                            [nzShowToday]="false">
                    </nz-date-picker>
                </ion-col>
            </ion-row>
        </ion-item>


        <ion-item>
            <ion-row align-items-baseline style="width: 100%">
                <ion-col [size]="3">
                    <ion-label>结算方式</ion-label>
                </ion-col>

                <ion-col [size]="9">
                    <div (click)="pickerPayPeriod($event)">
                        <ion-text [color]="'medium'">
                            {{payPeriodStr}}
                        </ion-text>
                    </div>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item>
            <ion-row align-items-baseline style="width: 100%">
                <ion-col [size]="3">
                    <ion-label>薪资水平</ion-label>
                </ion-col>

                <ion-col [size]="9" style="display: flex;flex-direction: row;align-items: baseline">
                    <ion-input [(ngModel)]="recruit.salary" required [placeholder]="'请填写1-999之间的数字'"
                               [type]="'number'"></ion-input>
                    <span>元/{{payPeriodStr}}</span>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item>
            <ion-label position="floating">在此输入该工作的工作地点</ion-label>
            <ion-textarea rows="2" maxlength="50" [(ngModel)]="recruit.workPlace"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label position="floating">在此输入该工作的时间或时间段</ion-label>
            <ion-textarea rows="4" maxlength="50" [(ngModel)]="recruit.workTime"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label position="floating">在此输入该工作的时间或时间段</ion-label>
            <ion-textarea rows="5" maxlength="50" [(ngModel)]="recruit.workDetail"></ion-textarea>
        </ion-item>
        <!--
                <ion-item>
                    <ion-label>Toggle</ion-label>
                    <ion-toggle slot="end"></ion-toggle>
                </ion-item>
                <ion-item>
                    <ion-label>Radio</ion-label>
                    <ion-radio slot="end"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>Checkbox</ion-label>
                    <ion-checkbox slot="start"></ion-checkbox>
                </ion-item>-->
    </ion-list>

</ion-content>

<ion-footer>
        <ion-button expand="full" (click)="submitJob()" color="danger">提交</ion-button>
</ion-footer>