<ion-content [color]="'light'">

    <!-- 头像框 -->
    <div style="height: 30vh">
        <!-- 背景色 -->
        <div style="background-color: #e25252;border-radius: 0 0 100% 100%;height: 50%">
            <div margin>
                <br>
                <span style="color: white;">企业中心</span>
            </div>
        </div>

        <!-- 头像 -->
        <div style="display: flex;flex-direction:column;justify-content: center;align-items: center">
            <div style="width:20%;margin-top: -2rem;">
                <img src="../../../assets/images/tx.jpeg" alt="头像"
                     style="border-radius: 50%; border: 3px solid #eee;overflow: hidden">
            </div>
            <ion-text [color]="'dark'">
                <h6>ZC.is typing ~</h6>
            </ion-text>
        </div>

    </div>

    <!-- 信息列表 -->
    <div>

        <ion-list class="list-bottom">
            <ion-item [detail]="true" (click)="inputUsername()">
                <svg class="icon ali-ionic-2x" aria-hidden="true">
                    <use xlink:href="#icon-xingming"></use>
                </svg>
                <ion-text [color]="'dark'" style="margin-left: 1rem;font-size: 0.8rem">
                    <span>负责人姓名：</span> <span>ZC.is typing ~</span>
                </ion-text>
            </ion-item>
        </ion-list>


        <!-- 联系电话 -->
        <ion-list class="list-bottom">
            <ion-item [detail]="true" (click)="inputPhone()">
                <svg class="icon ali-ionic-2x" aria-hidden="true">
                    <use xlink:href="#icon-shouji"></use>
                </svg>

                <ion-text [color]="'dark'" style="margin-left: 1rem;font-size: 0.8rem">
                    <span>联系电话：</span> <span>13955579876</span>
                </ion-text>
            </ion-item>
        </ion-list>

        <!-- 企业全称 -->
        <ion-list class="list-bottom">
            <ion-item [detail]="true" (click)="inputEnterpriseFullName()">
                <svg class="icon ali-ionic-2x" aria-hidden="true">
                    <use xlink:href="#icon-qiye1"></use>
                </svg>
                <ion-text [color]="'dark'" style="margin-left: 1rem;font-size: 0.8rem">
                    <span>企业全称：</span> <span>XXX餐饮店</span>
                </ion-text>
            </ion-item>
        </ion-list>

        <!-- 企业简介 -->
        <ion-list class="list-bottom">
            <ion-item [detail]="true" (click)="inputEnterpriseFullName()">
                <svg class="icon ali-ionic-2x" aria-hidden="true">
                    <use xlink:href="#icon-jianjie"></use>
                </svg>
                <ion-text [color]="'dark'" style="margin-left: 1rem;font-size: 0.8rem">
                    <span>企业简介：</span> <span>餐饮服务行业</span>
                </ion-text>
            </ion-item>
        </ion-list>

        <!-- 企业地址 -->
        <ion-list class="list-bottom">
            <ion-item [detail]="true" (click)="inputEnterpriseFullName()">
                <svg class="icon ali-ionic-2x" aria-hidden="true">
                    <use xlink:href="#icon-dizhi"></use>
                </svg>
                <ion-text [color]="'dark'" style="margin-left: 1rem;font-size: 0.8rem">
                    <span>企业地址：</span> <span>瑞丰商博城12A20002</span>
                </ion-text>
            </ion-item>
        </ion-list>

        <ion-list class="list-bottom">
            <ion-item [detail]="true" (click)="inputEnterpriseQQ()">
                <svg class="icon ali-ionic-2x" aria-hidden="true">
                    <use xlink:href="#icon-QQ"></use>
                </svg>

                <ion-text [color]="'dark'" style="margin-left: 1rem;font-size: 0.8rem">
                    <span>QQ：</span> <span>605422978</span>
                </ion-text>
            </ion-item>
        </ion-list>
    </div>

    <div style="width: 100%;display: flex;justify-content: center">
        <ion-button [expand]="'full'" style="width: 80%" href="/recruit-create">
            发布招聘
        </ion-button>
    </div>
    <div style="width: 100%;display: flex;justify-content: center">
        <ion-button [expand]="'full'" style="width: 80%">
            我的招聘
        </ion-button>
    </div>


</ion-content>