.apply-job-result-modal {
  height: 50vh;
  margin-top: 25vh;
}

.header-container {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.header-container .header-item {
  display: inline-block;
  box-sizing: border-box;
  min-width: 30%;
  height: 100%;
}

.header-container::-webkit-scrollbar {
  display: none;
}